/* :root{
  --navy:#0f172a;
  --royal:#1e3a8a;
  --indigo:#2563eb;
  --sky:#dbeafe;
  --green:#22c55e;
  --green-dark:#16a34a;
  --bg:#f5f7fb;
  --card:#ffffff;
  --text-main:#1f2933;
  --text-sub:#475569;
  --text-light: #cbd5f5;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}*/

.auth-page{
  background:linear-gradient(120deg,var(--navy),var(--royal));
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
} 

/* ================= CARD ================= */
.login-card{
  background:var(--card);
  width:380px;
  padding:40px;
  border-radius:22px;
  box-shadow:0 40px 80px rgba(0,0,0,0.4);
}

.login-card h2{
  text-align:center;
  color:var(--royal);
  margin-bottom:10px;
}

.login-card p{
  text-align:center;
  font-size:14px;
  color:var(--text-sub);
  margin-bottom:30px;
}

/* ================= FORM ================= */
label{
  font-size:13px;
  font-weight:600;
  color:var(--text-main);
  display:block;
  margin-bottom:6px;
}

input{
  width:100%;
  padding:12px 14px;
  border-radius:10px;
  border:1px solid #cbd5e1;
  margin-bottom:20px;
  outline:none;
  transition:0.3s;
}

input:focus{
  border-color:var(--indigo);
  box-shadow:0 0 0 3px rgba(37,99,235,0.15);
}

/* ================= BUTTON ================= */
.login-btn{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:var(--royal);
  color:white;
  font-weight:600;
  font-size:15px;
  cursor:pointer;
  transition:0.3s;
}

.login-btn:hover{
  background:var(--indigo);
  transform:translateY(-2px);
  box-shadow:0 15px 30px rgba(37,99,235,0.35);
}

/* ================= FOOTER ================= */
.footer-text{
  text-align:center;
  margin-top:18px;
  font-size:13px;
  color:var(--text-sub);
}

.footer-text a{
  color:var(--indigo);
  text-decoration:none;
  font-weight:500;
}